body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 150px 0;
  margin-bottom: 30px;
}

header h1 {
  font-weight: bold;
  font-size: 96px;
  margin: 30px 0;
  line-height: 1;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 3px;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  background: white;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 2fr 2fr;
}

main img {
  max-width: 100%;
  filter: brightness(80%);
}

main h3 {
  font-weight: bold;
  font-size: 16px;
  opacity: 0.3;
  letter-spacing: 3px;
  margin: 0;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url(../images/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
}

footer p {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: white;
  opacity: 0.7;
  font-size: 12px;
}

@media (max-width: 960px) {
  header {
    padding: 40px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 16px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid-2-col {
    grid-template-columns: 1fr;
  }
  .grid-3-col {
    grid-template-columns: 1fr;
  }
  footer {
    padding: 0 20px;
  }
  footer h3 {
    font-size: 16px;
  }
  footer li {
    font-size: 12px;
  }
  footer p {
    font-size: 12px;
  }
  .grid {
    grid-gap: 20px;
  }
}
